sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

li, ul, ol, figure { 
	padding: 0;
	margin: 0;
	list-style: none;
}

.cf::after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: '';
	clear: both;
	height: 0;
}

.swiper-pagination-bullet {
	background-color: currentColor;
}

canvas, img, video, picture, figure {
	max-width: 100%;
	height: auto;
	box-sizing: border-box;
	display: block;
 }

svg {
    max-width: 100%;
	height: auto;
    fill: currentColor;
}

button {
	appearance: none;
	outline: none;
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 0;
}

a, a:hover {
	text-decoration: none;
	color: currentColor;
}

textarea, input, select {
	appearance: none;
	outline: none;
}

textarea {
	resize: vertical;
}

h1, h2, h3, h4, h5, h6, p, a, li, ul, ol, span, strong, em {
	padding: 0;
	margin: 0;
	margin-block-start: 0;
    margin-block-end: 0;
}

a {
	font-weight: inherit;
}

strong, b {
	font-weight: $bold;
}

br {
	line-height: inherit;
}

section,
main,
.container {
	position: relative;
}

main,
section {
	overflow: hidden;
}

.cover {
	position: absolute;
    top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;

	&.parallax-img {
		@media #{$mq-md-min} {
			height: 115%;
		}
	}
}

html,
body {
	-webkit-font-smoothing: antialiased;
    background-color: $white;
    font-family: $inter;
	color: $black;
	font-weight: $light;
	font-size: 16px;
	font-size: clamp(18px, 1.33vw, 22px);
	line-height: 1.4;
}

#main-content {
	position: relative;
	width: 100vw;
	height: 100svh;
}